.chatDiv {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: #0a1d25;

  .msgs{
    padding: 0px 50px 0px 50px;
    

    .myMsg{
      display:flex;
      flex-direction: row-reverse;
    }
    .otherMsg{
      display:flex;
      flex-direction: row;
    }

  }
}

.otherProfile {
  height: 50px;
  background-color: #202c33;
  padding-left: 10px;

  display: flex;

  img {
    border-radius: 100%;
  }

  h4 {
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}


